<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Configurarion Phone
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-icon range-left style="font-size: 20px;" name="sunny" ></ion-icon>
        <ion-range [(ngModel)]="elemento" (ionChange)="change($event)" min="0" max="1" step=".1" >
        </ion-range>
        <ion-icon range-right name="sunny"></ion-icon>
      </ion-item>
      <ion-button color="primary" (click)="takePhoto()">TAKE OTHER PICTURE</ion-button>
      <img *ngIf="image" src={{image}}/>
</ion-content>
