<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      NBA Players
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
  
      <ion-card ion-item class="welcome-card" *ngFor="let player of players">
          <ion-card-header>
            <ion-card-title>{{player.first_name}} {{player.last_name}}</ion-card-title>
            <ion-card-subtitle>Position: {{player.position}}</ion-card-subtitle>
            <ion-card-subtitle>Team: {{player.team.full_name}}</ion-card-subtitle>
            <ion-chip color="scio">
                <ion-icon name="pin"></ion-icon>
              <ion-label>{{player.team.city}}</ion-label>
            </ion-chip>
            <ion-chip color="scio" (click)="presentToast()">
                <ion-icon name="compass"></ion-icon>
              <ion-label>{{player.team.conference}}</ion-label>
            </ion-chip>
            <ion-chip color="success" routerLink="/show-player/{{player.id}}" routerDirection="forward">
                <ion-icon name="person"></ion-icon>
              <ion-label>See</ion-label>
            </ion-chip>
          </ion-card-header>
          
        </ion-card>
  </ion-list>
</ion-content>
